:root {
    --white:#fff
    --black:#000
    --slate50:#f7f6f5
    --slate100:#eceae8
    --slate200:#e1ddda
    --slate300:#c0b7b1
    --slate400:#a69891
    --slate500:#94827b
    --flatblue50:#f3f7fc
    --flatblue100:#e5eff9
    --flatblue200:#c6def1
    --flatblue300:#94c3e5
    --flatblue400:#5aa4d6
    --flatblue500:#3588c2
    --flatblue600:#256da4
    --flatblue700:#1f5785
    --flatblue800:#1f4e74
}

body { background-color: var(--slate200) }


