@font-face {
    font-family: 'Afacad Flux';
    src: url(../fonts/AfacadFlux-VariableFont_slnt\,wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}



:root {
    --white:#fff
    --black:#000
    --color-tuscan-50:#f7f6f5
    --tuscan-100:#eceae8
    --tuscan00:#e1ddda
    --tuscan300:#c0b7b1
    --tuscan400:#a69891
    --tuscan500:#94827b
    --flatblue50:#f3f7fc
    --flatblue100:#e5eff9
    --flatblue200:#c6def1
    --flatblue300:#94c3e5
    --flatblue400:#5aa4d6
    --flatblue500:#3588c2
    --flatblue600:#256da4
    --flatblue700:#1f5785
    --flatblue800:#1f4e74
}

/*main color*/
body { background-color: #F8F3ED;
    color: #111314;
    font-family: 'Afacad Flux'; 
}

.playlist{ background-color:#1f4e74;
    color: #fff;
}
 

.event +.lowersection { background-color: #111314;
    color: #fff;

}
img + section { background-color: #5aa4d6;
    

}

